<div class="input-group mb-2 extra hide-text">
	<input type="text" class="wrong form-control" placeholder="Wrong Answer" required></input>
	<div class="input-group-text"><button type="button" class="delete" tabindex="-1"><i class="material-icons md-18">clear</i></button></div>
</div>