<div class="carousel">
	<ul>
		<li>
			<div class="carousel-caption">
				<h1>Example headline.</h1>
				<p>
					Cras justo odio, dapibus ac facilisis in, 
					egestas eget quam. Donec id elit non mi porta 
					gravida at eget metus. Nullam id dolor id nibh 
					ultricies vehicula ut id elit.
				</p>
				<p><a class="btn btn-primary btn-lg" href="/signup">Sign up today</a><br></p>
			</div>
		</li>
		<li>
			<div class="carousel-caption text-center">
				<h1>Example headline.</h1>
				<p>
					Cras justo odio, dapibus ac facilisis in, 
					egestas eget quam. Donec id elit non mi porta 
					gravida at eget metus. Nullam id dolor id nibh 
					ultricies vehicula ut id elit.
				</p>
				<p><a class="btn btn-primary btn-lg" href="/signup">Sign up today</a><br></p>
			</div>
		</li>
		<li>
			<div class="carousel-caption text-right">
				<h1>Example headline.</h1>
				<p>
					Cras justo odio, dapibus ac facilisis in, 
					egestas eget quam. Donec id elit non mi porta 
					gravida at eget metus. Nullam id dolor id nibh 
					ultricies vehicula ut id elit.
				</p>
				<p><a class="btn btn-primary btn-lg" href="/signup">Sign up today</a><br></p>
			</div>
		</li>
	</ul>
	<button class="carousel-prev"><i class="material-icons md-36">arrow_back_ios</i></button>
	<button class="carousel-next"><i class="material-icons md-36">arrow_forward_ios</i></button>
</div>