<div class="carousel">
	<ul>
		<li>
			<div class="carousel-caption">
				<img src="img/qa.svg" class="carousel-caption-icon mb-2">
				<h5 class="carousel-caption-title">Create multiple-choice quizzes</h5>
			</div>
		</li>
		<li>
			<div class="carousel-caption text-center">
				<img src="img/students.svg" class="carousel-caption-icon mb-2">
				<h5 class="carousel-caption-title">Complete quizzes with peers</h5>
			</div>
		</li>
		<li>
			<div class="carousel-caption text-right">
				<img src="img/learning.svg" class="carousel-caption-icon mb-2">
				<h5 class="carousel-caption-title">See results and review</h5>
			</div>
		</li>
	</ul>
	<button class="carousel-prev"><i class="material-icons md-36">arrow_back_ios</i></button>
	<button class="carousel-next"><i class="material-icons md-36">arrow_forward_ios</i></button>
</div>