<div class="new-quiz card mb-3" data-id="<%= quiz._id %>">
    <div class="card-body bg-light flex-r justify-between items-center">
        <div>
            <h5 class="card-title"><%= quiz.title %></h5>
            <h6 class="card-subtitle">Created by <%= quiz.author.name %></h6>
        </div>
        <div><a href="/quiz/<%= quiz._id %>" class="btn btn-1">Join</a></div>
    </div>
</div>