@import url('https://fonts.googleapis.com/css?family=Roboto');
@import url('https://fonts.googleapis.com/css?family=Nunito');
@import url('https://fonts.googleapis.com/css?family=Rubik');

/* http://meyerweb.com/eric/tools/css/reset/ 2. v2.0 | 20110126
  License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
	line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
button {
	border: none;
	background: transparent;
	padding: 0;
	outline: none;
	user-select: none;
	-webkit-tap-highlight-color: transparent;
	cursor: pointer;
}
fieldset {
	margin: 0;
	padding: 0;
}
input,
textarea,
button,
select,
a {
	-webkit-tap-highlight-color: rgba(0,0,0,0);
	font-family: inherit;
	font-size: inherit;
}
input[type="text"], textarea 	 {
	box-shadow: none;
	-webkit-appearance: none;
}

/*
  ========================================
  Icons
  ========================================
*/

.material-icons {
	vertical-align: middle;
}

/* Rules for sizing the icon. */
.material-icons.md-18 { font-size: 18px; }
.material-icons.md-24 { font-size: 24px; }
.material-icons.md-36 { font-size: 36px; }
.material-icons.md-48 { font-size: 48px; }
.material-icons.md-64 { font-size: 64px; }

/* Rules for using icons as black on a light background. */
.material-icons.md-dark { color: rgba(0, 0, 0, 0.54); }
.material-icons.md-dark.md-inactive { color: rgba(0, 0, 0, 0.26); }

/* Rules for using icons as white on a dark background. */
.material-icons.md-light { color: rgba(255, 255, 255, 1); }
.material-icons.md-light.md-inactive { color: rgba(255, 255, 255, 0.3); }

/*
  ========================================
  Positioning
  ========================================
*/

.hide {
	visibility: hidden !important;
}
.none {
	display: none;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}
html,
body {
	width: 100%;
	height: 100%;
}
.fixed-container {
	padding-top: 3.5rem;
}
.fixed-header {
	position: fixed;
	top: 0;
	right: 0;
	left: 0;
	z-index: 1 !important;
}
.fixed-footer {
	position: fixed;
	bottom: 0;
	right: 0;
	left: 0;
	z-index: 1 !important;
}
.container {
	width: 100%;
	padding-top: .5rem;
	padding-bottom: .5rem;
	padding-right: 15px;
	padding-left: 15px;
	margin-right: auto;
	margin-left: auto;
}
.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}
.row-sm {
	display: flex;
	flex-wrap: wrap;
	margin-right: -5px;
	margin-left: -5px;
}
.divider {
	margin: 5rem 0;
	border: 0;
	border-top: 1px solid rgba(0,0,0,.1);
}
.margin-auto {
	margin: 0 auto;
}
.center {
	display: flex;
	justify-content: center;
	align-items: center;
	height: 100%;
}
.vm {
	vertical-align: middle;
}
.fr {
	float: right;
}
.fl {
	float: left;
}
.m-0 {
	margin: 0 !important;
}
.p-0 {
	padding: 0 !important;
}
.py-0 {
	padding-top: 0 !important;
	padding-bottom: 0 !important;
}
.py-1 {
	padding-top: .25rem !important;
	padding-bottom: .25rem !important;
}
.py-2 {
	padding-top: .5rem !important;
	padding-bottom: .5rem !important;
}
.py-3 {
	padding-top: 1rem !important;
	padding-bottom: 1rem !important;
}
.py-4 {
	padding-top: 2rem !important;
	padding-bottom: 2rem !important;
}
.px-0 {
	padding-left: 0 !important;
	padding-right: 0 !important;
}
.px-1 {
	padding-left: .25rem !important;
	padding-right: .25rem !important;
}
.px-2 {
	padding-left: .5rem !important;
	padding-right: .5rem !important;
}
.px-3 {
	padding-left: 1rem !important;
	padding-right: 1rem !important;
}
.px-4 {
	padding-left: 2rem !important;
	padding-right: 2rem !important;
}
.my-0 {
	margin-top: 0 !important;
	margin-bottom: 0 !important;
}
.my-1 {
	margin-top: .25rem !important;
	margin-bottom: .25rem !important;
}
.my-2 {
	margin-top: .5rem !important;
	margin-bottom: .5rem !important;
}
.my-3 {
	margin-top: 1rem !important;
	margin-bottom: 1rem !important;
}
.my-4 {
	margin-top: 2rem !important;
	margin-bottom: 2rem !important;
}
.mx-0 {
	margin-left: 0 !important;
	margin-right: 0 !important;
}
.mx-1 {
	margin-left: .25rem !important;
	margin-right: .25rem !important;
}
.mx-2 {
	margin-left: .5rem !important;
	margin-right: .5rem !important;
}
.mx-3 {
	margin-left: 1rem !important;
	margin-right: 1rem !important;
}
.mx-4 {
	margin-left: 2rem !important;
	margin-right: 2rem !important;
}
.mt-0 {
	margin-top: 0 !important;
}
.mt-1 {
	margin-top: .25rem !important;
}
.mt-2 {
	margin-top: .5rem !important;
}
.mt-3 {
	margin-top: 1rem !important;
}
.mt-4 {
	margin-top: 2rem !important;
}
.mb-0 {
	margin-bottom: 0 !important;
}
.mb-1 {
	margin-bottom: .25rem !important;
}
.mb-2 {
	margin-bottom: .5rem !important;
}
.mb-3 {
	margin-bottom: 1rem !important;
}
.mb-4 {
	margin-bottom: 2rem !important;
}
.ml-0 {
	margin-left: 0 !important;
}
.ml-1 {
	margin-left: .25rem !important;
}
.ml-2 {
	margin-left: .5rem !important;
}
.ml-3 {
	margin-left: 1rem !important;
}
.ml-4 {
	margin-left: 1rem !important;
}
.mr-0 {
	margin-right: 0 !important;
}
.mr-1 {
	margin-right: .25rem !important;
}
.mr-2 {
	margin-right: .5rem !important;
}
.mr-3 {
	margin-right: 1rem !important;
}
.mr-4 {
	margin-right: 2rem !important;
}
.block {
	width: 100%;
}
.flex-columns [class*="col-"] {
	display: flex;
}
.flex-row {
	display: flex;
	flex-direction: row;
	flex-grow: 1;
}
.flex-column {
	display: flex;
	flex-direction: column;
	flex-grow: 1;
}
.justify-content-start {
	justify-content: flex-start;
}
.justify-content-end {
	justify-content: flex-end;
}
.justify-content-between {
	justify-content: space-between;
}
.justify-content-around {
	justify-content: space-around;
}
.justify-content-center {
	justify-content: center;
}
.align-items-start {
	align-items: flex-start;
}
.align-items-baseline {
	align-items: baseline;
}
.align-items-end {
	align-items: flex-end;
}
.align-items-center {
	align-items: center;
}
.align-items-stretch {
	align-items: stretch;
}
.row [class*="col-"] {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}
.row-sm [class*="col-"] {
  width: 100%;
  padding-right: 5px;
  padding-left: 5px;
}
.col-1 {
	flex: 0 0 8.33%;
	max-width: 8.33%;
}
.col-2 {
	flex: 0 0 16.66%;
	max-width: 16.66%;
}
.col-3 {
	flex: 0 0 25%;
	max-width: 25%;
}
.col-4 {
	flex: 0 0 33.33%;
	max-width: 33.33%;
}
.col-5 {
	flex: 0 0 41.66%;
	max-width: 41.66%;
}
.col-6 {
	flex: 0 0 50%;
	max-width: 50%;
}
.col-7 {
	flex: 0 0 58.33%;
	max-width: 58.33%;
}
.col-8 {
	flex: 0 0 66.66%;
	max-width: 66.66%;
}
.col-9 {
	flex: 0 0 75%;
	max-width: 75%;
}
.col-10 {
	flex: 0 0 83.33%;
	max-width: 83.33%;
}
.col-11 {
	flex: 0 0 91.66%;
	max-width: 91.66%;
}
.col-12 {
	flex: 0 0 100%;
	max-width: 100%;
}	
@media only screen and (min-width: 576px) {
	.container {
		max-width: 540px;
	}
  .col-sm-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-sm-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-sm-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-sm-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-sm-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .col-sm-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-sm-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-sm-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-sm-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-sm-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-sm-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-sm-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 768px) {
	.container {
		max-width: 720px;
	}
  .col-md-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-md-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-md-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-md-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-md-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .col-md-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-md-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-md-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-md-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-md-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-md-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-md-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 992px) {
	.container {
		max-width: 960px;
	}
  .col-lg-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-lg-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-lg-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-lg-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-lg-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .col-lg-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-lg-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-lg-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-lg-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-lg-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-lg-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-lg-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}
@media only screen and (min-width: 1200px) {
	.container {
		max-width: 1140px;
	}
  .col-xl-1 {
    flex: 0 0 8.33%;
    max-width: 8.33%;
  }
  .col-xl-2 {
    flex: 0 0 16.66%;
    max-width: 16.66%;
  }
  .col-xl-3 {
    flex: 0 0 25%;
    max-width: 25%;
  }
  .col-xl-4 {
    flex: 0 0 33.33%;
    max-width: 33.33%;
  }
  .col-xl-5 {
    flex: 0 0 41.66%;
    max-width: 41.66%;
  }
  .col-xl-6 {
    flex: 0 0 50%;
    max-width: 50%;
  }
  .col-xl-7 {
    flex: 0 0 58.33%;
    max-width: 58.33%;
  }
  .col-xl-8 {
    flex: 0 0 66.66%;
    max-width: 66.66%;
  }
  .col-xl-9 {
    flex: 0 0 75%;
    max-width: 75%;
  }
  .col-xl-10 {
    flex: 0 0 83.33%;
    max-width: 83.33%;
  }
  .col-xl-11 {
    flex: 0 0 91.66%;
    max-width: 91.66%;
  }
  .col-xl-12 {
    flex: 0 0 100%;
    max-width: 100%;
  }
}

/*
  ========================================
  Typography
  ========================================
*/

body {
  font: 400 1rem/1.5 "Helvetica Neue", sans-serif;
	color: #212529;;
}
h1 {
	font-weight: 500;
	font-size: 2.5rem;
	margin-bottom: .5rem;
}
h2 {
	font-weight: 500;
	font-size: 2rem;
	margin-bottom: .5rem;
}
h3 {
	font-weight: 500;
	font-size: 1.5rem;
	margin-bottom: .5rem;
}
h4 {
	font-weight: 500;
	font-size: 1.25rem;
	margin-bottom: .5rem;
}
.text-btn-align {
	display: inline-block;
	font-size: 1.25rem;
	line-height: 1.5;
	padding: .5rem 1rem;
	vertical-align: middle;
}
.text-center {
	text-align: center;
}
.text-right {
	text-align: right;
}
.text-left {
	text-align: left;
}
.uppercase {
	text-transform: uppercase;
}
.link {
	font-size: 1rem;
	display: inline-block;
	color: #007bff;
}
.link:hover {
	color: #0056b3;
}
.link + .link {
	margin-left: 1.25rem;
}
.text-muted {
	color: #6c757d;
}

/*
  ========================================
  Styles
  ========================================
*/

.bg-light {
  background: #f8f9fa;
	color: #212529;
	border-color: rgba(52, 58, 64, .5)
}
.bg-dark {
  background: #343a40;
	color: #fff;
	border-color: rgba(52, 58, 64, .5)
}
.bg-gray {
	background: #dee2e6;
}

/*
  ========================================
  Navbar
  ========================================
*/

.navbar {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding: .5rem 1rem;
	align-items: center;
	/* box-shadow: 0 1px 4px rgba(0, 0, 0, .5); */
	z-index: 1 !important;
}
.navbar-brand::before {
	content: "";
	height: 2rem;
}
.navbar-brand {
	font-size: 1.25rem;
	margin-right: 1rem;
	padding: .3125rem 0;
}
.nav a {
	display: block;
	padding: .5rem 0;
	color: inherit;
}
.nav a:hover {
	color: inherit;
}
.collapse {
	display: none;
	flex-basis: 100%;
	flex-grow: 1;
	align-items: center;
	max-height: 0;
	overflow: hidden;
}
.toggle {
	padding: .15rem .5rem;
	font-size: 1.25rem;
	line-height: 1;
	background: transparent;
	border: none;
	border-radius: 5px;
	outline: none;
	cursor: pointer;
	color: inherit;
}
.bg-light .toggle:hover {
	background: rgba(52, 58, 64, .10);
}
.bg-dark .toggle:hover {
	background: rgba(248, 249, 250, .10);
}
.toggle i {
	display: inline-block;
	transition: transform .35s;	
	vertical-align: middle;
}
.toggle.active i {
	transform: rotate(90deg);
	transition: transform .35s;
}
.show {
	display: block;
	transition: max-height .35s ease-in-out;
}

@media only screen and (min-width: 768px) {
	.collapse {
		display: flex;
		flex-basis: auto;
		max-height: 100%;
		flex-direction: row;
		justify-content: flex-end;
	}
	.nav li {
		display: inline-block;
	}
	.nav a {
		padding: .5rem .5rem;
	}
	.toggle {
		display: none;
	}
}

/*
  ========================================
  Buttons
  ========================================
*/

.btn {
	color: #777;
	cursor: pointer;
	font-weight: 400;
	text-align: center;
	align-items: center;
	justify-content: center;
	padding: .375rem .75rem;
	font-size: 1rem;
	background-color: transparent;
	border: 1px solid;
	border-radius: .75rem;
	line-height: 1.5;
	border-color: #eee;
	transition: all .15s ease-in-out;
}
.btn:hover {
	background-color: #eee;
	border-color: #eee;
}
.btn-sm {
	padding: .25rem .5rem;
	font-size: 1rem;
}
.btn-lg {
	padding: .5rem 1rem;
	font-size: 1.25rem;
}
.btn-primary {
	color: #fff;
	background-color: #007bff;
	border-color: #007bff;
}
.btn-primary:hover {
	background-color: #0067d6;
	border-color: #0067d6;
}
.btn-outline-primary {
	color: #007bff;
	background-color: transparent;
	border-color: #007bff;
}
.btn-outline-primary:hover {
	color: #fff;
	background-color: #0067d6;
	border-color: #0067d6;
}
.btn-secondary {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-secondary:hover {
	color: #fff;
  background-color: #5a6268;
	border-color: #545b62;
}
.btn-outline-secondary {
	color: #6c757d;
	background-color: transparent;
	border-color: #6c757d;
}
.btn-outline-secondary:hover {
	color: #fff;
	background-color: #6c757d;
	border-color: #6c757d;
}
.btn-success {
	color: #fff;
	background-color: #28a745;
	border-color: #28a745;
}
.btn-success:hover {
	color: #fff;
	background-color: #218838;
	border-color: #218838;
}
.btn-light-red {
	color: #fc7779;
	background-color: #fff1f1;
	border-color: #fff1f1;
}
.btn-light-red:hover {
	color: #fc7779;
	background-color: #fae1e1;
	border-color: #fae1e1;
}
.btn-light-blue {
	color: #629afa;
	background-color: #f1f6ff;
	border-color: #f1f6ff;
}
.btn-light-blue:hover {
	color: #629afa;
	background-color: #ddeafd;
	border-color: #ddeafd;
}
.btn-control {
	border: 1px solid rgba(0,0,0,.125);
	border-radius: 50%;
	width: 4rem;
	height: 4rem;
	display: flex;
	justify-content: center;
	align-content: center;
}

/*
  ========================================
  Carousel
  ========================================
*/

.carousel {
	position: relative;
	overflow: hidden;
	width: 100%;
	background: #ddd;
	margin-bottom: 5rem;
	background-color: #777;
	color: #fff;
}
.carousel ul {
	position: relative;
	height: 32rem;
}
.carousel ul li {
	width: 100%;
	height: 100%;
	overflow: hidden;
	position: absolute;
	top: 0;
	left: 0;
	transition: left 500ms ease-in-out;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: flex-end;
	font-size: 1.25rem;
}
.carousel ul li:not(.active) {
	display: none;
	transition: none;
}
.carousel button {
	position: absolute;
	top: 0;
	bottom: 0;
	width: 15%;
	border: none;
	background: transparent;
	outline: none;
	margin: 0;
	padding: 0;
	color: #aaa;
	box-shadow: none;
	cursor: pointer;
	font-weight: 700;
}
.carousel button:hover {
	color: #fff;
}
.carousel-prev {
	left: 0;
}
.carousel-next {
	right: 0;
}
.carousel-caption {
	position: absolute;
	right: 15%;
	left: 15%;
	bottom: 3rem;
	padding-top: 20px;
	padding-bottom: 20px;
}
.carousel-caption p {
	margin-bottom: 1.25rem;
	font-size: 1.25rem;
	line-height: 1.4;
}

/*
  ========================================
  Form
  ========================================
*/

.form-signin {
	width: 100%;
	max-width: 330px;
	margin: 0 auto;
	padding: 30px;
}
.form-control {
	margin: 0;
	display: block;
	width: 100%;
	line-height: 1.5 !important;
	font-size: 1rem !important;
	color: #495057;
	background-color: #fff;
	border: 1px solid #ced4da;
	border-radius: .25rem;
	padding: .5rem .75rem;
	outline: none;
	resize: none;
}
.line {
	border-radius: 0;
	border-top: none;
	border-right: none;
	border-left: none;
	padding-left: 0;
	padding-right: 0;
}
.line:focus {
	border-color: #5a5a5a;
	border-width: 2px;
	margin-bottom: 3px;
}
fieldset {
	margin-bottom: 1rem;
}
.form-group .form-contorl {
	border-radius: 0;
	margin-bottom: -1px;
}
.form-group input:first-of-type {
	border-top-left-radius: .25rem;
	border-top-right-radius: .25rem;
}
.form-group input:last-of-type {
	border-bottom-left-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.form-error {
	text-align: left;
	color: #e0245e;
}
.input-group {
	display: flex;
	flex-wrap: wrap;
	align-items: stretch;
	width: 100%;
}
.input-group > .form-control {
	flex: 1 1 auto;
	flex-basis: 0;
	border-radius: 0;
}
.input-group .form-control:first-child {
	border-top-left-radius: .25rem;
	border-bottom-left-radius: .25rem;
}
.input-group .form-conrol:last-child {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.input-group.hide-text .form-control:first-child {
	border-top-right-radius: .25rem;
	border-bottom-right-radius: .25rem;
}
.input-group.hide-text .input-group-text {
	display: none !important;
}
.input-group-text:first-child {
	border-top-right-radius: 0;
	border-bottom-right-radius: 0;
	margin-right: -1px;
}
.input-group-text:last-child {
	border-top-left-radius: 0;
	border-bottom-left-radius: 0;
	margin-left: -1px;
}
.input-group-text {
	display: flex;
	align-items: center;
	margin: 0;
	background-color: #e9ecef;
	border: 1px solid #ced4da;
	white-space: nowrap;
	border-radius: .25rem;
}
.input-group-text > button, .input-group-text > p {
	height: 100%;
	width: 100%;
	border: 0;
	padding: .5rem .75rem;
}
.correct {
	border-color: #218838;
}
.wrong {
	border-color: #e0245e;
}
#add-answer {
	padding: .25rem .75rem;
	font-size: .75rem;
}
label {
	display: inline-block;
	margin-bottom: .5rem;
	cursor: pointer;
}
.form-check {
	position: relative;
	display: block;
	padding-left: 1.25rem;
}
.form-check-input {
	position: absolute;
	margin-top: .3rem;
	margin-left: -1.25rem;
}
.form-check-label {
	margin-bottom: 0;
	width: 100%;
}

/*
  ========================================
  Card
  ========================================
*/

.card {
	position: relative;
	display: flex;
	flex-direction: column;
	word-wrap: break-word;
	border-radius: .25rem;
	border: 1px solid rgba(0,0,0,.125);
	background: white;
}
.card-title {
	font-size: 1.25rem;
	margin-bottom: .75rem;
	font-weight: 500;
	line-height: 1.2;
}
.card-subtitle {
	color: #6c757d !important;
	font-weight: 500;
	line-height: 1.2;
	margin-top: -.375rem;
	margin-bottom: .5rem;
}
.card-section {
	font-size: 1.25rem;
}
.card-header {
	padding: .75rem 1rem;
	background-color: rgba(0,0,0,.03);
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.card-body {
	padding: 1rem;
}
.card-footer {
	border-top: 1px solid #e9ecef;
	padding: 1rem;
}
.list-group {
	display: flex;
	flex-direction: column;
	margin-bottom: 0;
	margin-top: -1px;
}
.list-item {
	padding: .5rem 1.25rem;
	font-size: .75rem;
	background-color: #fff;
	border: 1px solid rgba(0,0,0,.125);
	border-right: 0;
  border-left: 0;
	border-radius: 0;
	margin-bottom: -1px;
}
.list-item:last-child {
	border-bottom-right-radius: .25rem;
	border-bottom-left-radius: .25rem;
}
.list-group-flush .list-item {
	border-right: 0;
	border-left: 0;
	border-radius: 0;
}
.list-group-item-success {
    color: #155724;
    background-color: #c3e6cb;
}
.list-group-item-danger {
    color: #721c24;
    background-color: #f5c6cb;
}

/*
  ========================================
  Modals
  ========================================
*/

.modal {
	position: absolute;
	width: 100%;
	height: 100%;
	overflow: hidden;
	background: rgba(0,0,0,0.5);
	z-index: 2 !important;
	transition: background 100ms ease-in-out;
	overflow: scroll;
}
.modal > div {
	z-index: 3 !important;
	margin-top: 5rem;
}
.modal-show {
	display: block
}
.modal:not(.modal-show) {
	display: none;
}
.modal-close {
	padding: 1rem;
	margin: -1rem;
	border: 0;
	background: transparent;
}
.no-scroll {
	overflow: hidden;
	position: fixed;
}

/*
  ========================================
  Quiz
  ========================================
*/

#timer {
	font-size: 1.25rem;
	color: #6c757d!important;
}
.quiz-container {
	margin-bottom: 5rem;
}
.quiz-header {
	background-color: #f8f9fa;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.quiz-footer {
	background-color: #f8f9fa;
	border-top: 1px solid rgba(0,0,0,.125);
}
.quiz-question {
	margin-bottom: 4rem;
}
.quiz-question:not(.active) {
	display: none;
}
.quiz-question .form-check {
	padding-left: 0;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.quiz-question .form-check-input {
	display: none;
}
.quiz-question-letter {
	border: 1px solid rgba(0,0,0,.5);
	color: rgba(0,0,0,.5);
	border-radius: 40%;
	width: 2rem;
	height: 2rem;
	text-align: center;
	line-height: 2rem;
	font-size: 1rem;
	text-transform: capitalize;
	transition: color 50ms, background 50ms ease-in;
}
.correct .quiz-question-letter {
	color: #fff !important;
	background-color: #28a745 !important;
	border-color: #28a745 !important;
}
.wrong .quiz-question-letter {
	color: #fff !important;
	background-color: #721c24 !important;
	border-color: #721c24 !important;
}
.quiz-question-text {
	font-size: 1.25rem;
	font-weight: 500;
}
.form-check-input:checked + .form-check-label .quiz-question-letter {
	color: white;
	background: rgba(0,0,0,.5);
}
.form-check-input:checked + .form-check-label .quiz-question-answer {
	font-weight: 600;
}
.review-label {
	font-size: 1rem;
	margin-right: 1rem;
	color: #6c757d !important;
}
.review-text {
	font-size: 1.5em;
	font-weight: 400;
}
.review-info {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: flex-start;
	margin-bottom: 1rem;
	border-bottom: 1px solid rgba(0,0,0,.125);
}
.new-quiz .card-body {
	padding-top: 1rem;
	padding-bottom: 1rem;
}
.new-quiz .card-title {
	font-size: 1rem;
	margin-bottom: .5rem;
}
.new-quiz .card-subtitle {
	font-size: .75rem;
	margin-bottom: 0;
}
.new-quiz a {
	font-size: .75rem;
}