<!DOCTYPE html>
<html>
	<% include partials/head.ejs %>
	<body class="bg-light">
		<% include partials/header.ejs %>
		<main id="content" class="bg-light home">
			<% include partials/carousel.ejs %>
			<div class="container flex-r items-center justify-center">
				<a class="btn btn-lg" href="/signup">Sign Up</a><span class="text-big mx-2">or</span><a class="btn btn-lg" href="/login">Log In</a>
			</div>
		</main>
		<% include partials/footer.ejs %>
		<script src='/js/navbar.js'></script>
		<script src='/js/carousel.js'></script>
	</body>
</html>