<!DOCTYPE html>
<html>
	<% include partials/head.ejs %>
	<body>
		<main class="center">
			<form id="log-in" class="form text-center">
				<i class="material-icons md-64">school</i>
				<h2>Please log in</h2>
				<fieldset>
					<input type="text" id="username" name="username" class="input input-line" placeholder="Username" required>
					<div id="username-error" class="input-error"></div>
					<input type="password" id="password" name="password" class="input input-line" placeholder="Password" required>
					<div id="password-error" class="input-error"></div>
				</fieldset>
				<button type="submit" class="btn btn-lg btn-submit">Log in</button>
			</form>
		</main>
		<script>
			document.getElementById('log-in').addEventListener('submit', function(event) {
				event.preventDefault();

				let username = document.getElementById('username');
				let password = document.getElementById('password');
				let usernameError = document.getElementById('username-error');
				let passwordError = document.getElementById('password-error');

				let params = 'username='+username.value+'&password='+password.value;

				let xhr = new XMLHttpRequest();
				xhr.open('POST', '/login');
				xhr.setRequestHeader('Content-type', 'application/x-www-form-urlencoded');
				xhr.send(params);
				xhr.onload = function() {
					if (this.status === 200) {
						let data = JSON.parse(this.responseText);
						if (data.success === true) {
							window.location.href = '<%= url %>' + 'profile';
						} else {
							if (data.errors.username) usernameError.innerHTML = data.errors.username;
							if (data.errors.password) passwordError.innerHTML = data.errors.password;
						}
					}
				}
			});

			document.getElementById('username').addEventListener('focus', function() {
				document.getElementById('username-error').innerHTML = '';
			});
			document.getElementById('password').addEventListener('focus', function() {
				document.getElementById('password-error').innerHTML = '';
			});
		</script>
	</body>
</html>