<!DOCTYPE html>
<html>
	<% include partials/head.ejs %>
	<body>
		<main class="center">	
			<form id="sign-up" class="form text-center">
				<i class="material-icons md-64">school</i>
				<h2>Enter your details</h2>
				<fieldset>
					<input type="text" id="name" class="input input-line" placeholder="Name" required autofocus>
					<div id="name-error" class="form-error"></div>
					<input type="text" id="username" class="input input-line" placeholder="Username" required>
					<div id="username-error" class="form-error"></div>
					<input type="password" id="password" class="input input-line" placeholder="Password" required>
					<div id="password-error" class="form-error"></div>
				</fieldset>
				<button type="submit" class="btn btn-lg btn-submit">Sign Up</button>
			</form>
		</main>
		<script>
			document.getElementById('sign-up').addEventListener('submit', function(event) {
				event.preventDefault();
				[, ,], 
				ajaxPost('/signup', {
					content: [
						dom('#name'),
						dom('#username'),
						dom('#password')
					],
					success: function() {
						window.location.href = '<%= url %>' + 'profile';
					},
					error: function() {
						dom('#username-error').innerHTML = this.data.errors.username;
					}
				});
			});

			document.getElementById('username').addEventListener('focus', function() {
				document.getElementById('username-error').innerHTML = '';
			});
		</script>
	</body>
</html>